*, body {
  overflow-x: hidden;
  scroll-padding: none;
}

.summary {
  border-radius: 10px;
}

.hero {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), 
    url('../image/banner.jpg') 
    center/cover no-repeat;
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  height: 60vh;
}

.card {
  width: 90%;
}

.product-card img {
  width: auto;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02); 
  transition: all 0.3s ease-in-out;
}

@media (max-width: 500px) {
  .card {
    width: 60% !important;
  }

  .product-card img {
    height: 150px; 
  }
}


/* Styling untuk container login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling untuk banner cookie */
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none; /* Secara default banner disembunyikan */
}

.cookie-banner p {
  margin: 0;
  font-size: 14px;
}

.cookie-banner button {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

.cookie-banner button:hover {
  background-color: #3498db;
}

.highlited-kategori {
  height: 200px;
}

.kategori-baju-pria {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), 
  url("../image/baju-pria.jpg") 
  center/cover no-repeat !important;
}

.kategori-baju-wanita {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), 
  url("../image/baju-wanita.jpg") 
  center/cover no-repeat !important;
}

.kategori-sepatu {
  background: 
  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), 
  url("../image/sepatu.jpg") 
  center/cover no-repeat;
}

